<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.query.DynamoDBQueryNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.batchput.DynamoDBBatchPutNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.scan.DynamoDBScanNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.batchdelete.DynamoDBBatchDeleteNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.createtable.DynamoDBCreateTableNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.listtables.DynamoDBListTablesNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.describetable.DynamoDBDescribeTableNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.batchget.DynamoDBBatchGetNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.deletetable.DynamoDBDeleteTableNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.updateitem.DynamoDBUpdateItemNodeFactory">
      </node>
      <node
            category-path="/labs/dynamodb"
            deprecated="false"
            factory-class="org.knime.cloud.aws.dynamodb.putitem.DynamoDBPutItemNodeFactory">
      </node>

   </extension>

   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/ddb.png"
            level-id="dynamodb"
            locked="true"
            name="Amazon DynamoDB"
            path="/labs">
      </category>

   </extension>

</plugin>
